#quote-box {
	background-color: white;
	border-radius: 10px;
	width: 550px;
	height: auto;
	padding: 50px;
	padding-bottom: 20px;
}

#text {
	font-size: 1.75em;
	font-weight: 500;
}

#quote-icon {
	font-size: 50px;
}

p {
	margin-top: -50px;
	margin-left: 70px;
}

#author {
	text-align: right;
	width: 100%;
}

#bottom {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#new-quote {
	position: relative;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}

#tweet-quote {
	font-size: 40px;
}

@media only screen and (max-width: 768px) {
	#quote-box {
		width: 90vw;
		margin: 30px;
		padding: 10px;
	}
	#box {
		padding: 10px;
	}
}
